<div (click)="toogleMenu()" id='btn_menu' class="btn_menu">
  Menú
</div>


<div class="header_contenedor" id='header_contenedor'>

  <nav>
    <ul>
      <li class="container_rows">
        <img class="imagen_free" src="assets/image/libertad_bn.svg" alt="">
        <div>Freelance Hidalgo</div>

      </li>
      <li>
        ¿Cómo funciona?
        <!-- <ul>
          <li>
            Uno
          </li>
          <li>
            Dos
          </li>
        </ul>
        -->
      </li>
      <li>
        Explorar trabajos
      </li>
      <li class="desaparecer_mobile">&nbsp;</li>
      <li>
        Iniciar sesión
      </li>
      <li>
        Regístrate
      </li>
    </ul>
  </nav>
</div>
